@mixin before_circle{
    &:before{
        content: '';
        position: absolute;
        left: 0px;
        top: -25%;
        z-index: -1;        
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;               
    }   
    
    
}
