@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes RightToleft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 5rem;
  background-color: #FAFAFA;
}

.container {
  background-color: #F7F7F7;
  position: relative;
  z-index: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
}

.title-first {
  color: #FAFAFA;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: LeftToRight;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-first__main {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__main {
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
    margin-bottom: 0;
  }
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 5rem;
  animation-name: RightToleft;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-first__secondary {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__secondary {
    font-size: 3.6rem;
    letter-spacing: 0.2rem;
  }
}

.title-secondary {
  font-weight: 800;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90.05deg, rgba(161, 79, 3, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  backface-visibility: hidden;
  transition: all 0.4s;
}
@media only screen and (max-width: 1240px) {
  .title-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-secondary {
    letter-spacing: 0.2rem;
  }
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #FAFAFA;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 1240px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.paragraph-about {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
}
@media only screen and (max-width: 1240px) {
  .paragraph-about {
    font-size: 1.5rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
  .margin-bottom-50px {
    margin-bottom: 7rem;
  }
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  background: white;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  position: relative;
  transition: all 0.3s;
  border: none;
}
@media only screen and (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.2rem 3rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem 5rem;
  }
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn:hover:after {
  content: "";
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.2rem);
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #BA8554;
  color: #FAFAFA;
}
.btn_brown:hover:after {
  background: #A14F03;
}

.btn-text:link, .btn-text:visited {
  font-weight: 700;
  font-size: 1.6rem;
  color: #BA8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #BA8554;
  display: inline-block;
  transition: all 0.5;
}
.btn-text:hover {
  background: #BA8554;
  color: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  z-index: 10;
  outline-offset: 1rem;
  transition: all 0.2s;
}
.composition__photo_n1 {
  left: 0rem;
  top: 0rem;
}
.composition__photo_n2 {
  top: 7rem;
  right: 0rem;
}
.composition__photo_n3 {
  left: 11rem;
  top: 13rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
  outline: 1rem solid #A14F03;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.advanture-card {
  background: rgba(250, 250, 250, 0.8);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.advanture-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.advanture-card__icon {
  display: inline-block;
  font-size: 6.3rem;
  background: linear-gradient(90.05deg, rgba(161, 79, 3, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour {
    height: auto;
  }
}
.card-tour__side {
  height: 50rem;
  transition: all 0.7s ease-out;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
}
.card-tour__side_back {
  background: linear-gradient(120deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  transform: rotateY(180deg);
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__side_back {
    transform: rotateY(0deg);
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    padding-top: 12rem;
    margin-top: -10rem;
  }
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour:hover .card-tour__side_front {
    transform: rotateY(0deg);
  }
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  height: 21rem;
  background-blend-mode: hard-light;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/card-1.png) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-tour__img_2 {
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/card-2.png) center/cover no-repeat;
}
.card-tour__img_3 {
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/card-3.png) center/cover no-repeat;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__img {
    height: 30rem;
  }
}
.card-tour__title {
  font-weight: 300;
  font-size: 2.8rem;
  text-align: right;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #FAFAFA;
  position: absolute;
  top: 17rem;
  right: 0rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__title {
    top: 25rem;
    font-size: 3.8rem;
  }
}
.card-tour__span {
  background: linear-gradient(90deg, #BA8554, #A14F03 100%);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__span_2 {
    top: 4.4rem;
    padding-bottom: 0rem;
  }
}
.card-tour__descr ul {
  list-style-type: none;
  text-align: center;
}
.card-tour__descr ul li {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-decoration-line: underline;
  color: #777777;
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1240px) {
  .card-tour__descr ul li {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__descr ul li {
    font-size: 3rem;
  }
}
.card-tour__backside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__backside-box {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    padding: 5rem;
    text-align: center;
  }
}
.card-tour__text {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #FAFAFA;
}
.card-tour__text_1 {
  font-weight: 300;
  font-size: 1.6rem;
}
.card-tour__text_2 {
  font-weight: 500;
  font-size: 6rem;
}

@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__side_front {
    padding-bottom: 13rem;
  }
}

.feedback-card {
  width: 85%;
  background: rgba(250, 250, 250, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg);
}
@media only screen and (max-width: 900px) {
  .feedback-card {
    transform: skewX(350deg);
    padding: 3rem;
  }
}
.feedback-card > * {
  transform: skewX(-330deg);
}
@media only screen and (max-width: 900px) {
  .feedback-card > * {
    transform: skewX(-350deg);
    text-align: center;
  }
}
.feedback-card__img {
  width: 15rem;
  height: 15rem;
  background: green;
  float: left;
  border-radius: 100rem;
  shape-outside: circle 50% at 50% 50%;
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .feedback-card__img {
    float: none;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedback-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #FAFAFA;
  opacity: 0;
  transition: all 0.5s;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%);
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 56%, rgba(186, 133, 84, 0.8) 56%, rgba(161, 79, 3, 0.9) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .book {
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 506%, rgba(186, 133, 84, 0.8) 56%, rgba(161, 79, 3, 0.9) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  }
}

.form {
  width: 70%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:nth-child(4) {
  margin-bottom: 4.5rem;
}
@media only screen and (max-width: 1240px) {
  .form__group:not(:last-child) {
    margin-bottom: 0;
  }
  .form__group:nth-child(4) {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .form {
    width: 100%;
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .form__group:nth-child(4) {
    margin-bottom: 5rem;
  }
}
.form__input {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #000;
  padding: 2rem 0rem 2rem 2rem;
  background: #FAFAFA;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .form__input {
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: block;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: 0.7s all;
}
.form__group-radio {
  display: inline-block;
}
.form__group-radio:not(:last-child) {
  margin-right: 2rem;
}
@media only screen and (max-width: 1240px) {
  .form__group-radio {
    display: block;
  }
  .form__group-radio:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.form__input-radio {
  display: none;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  letter-spacing: 0.2rem;
}
.form__button-radio {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #A14F03;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -1rem;
  top: -0.5rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #A14F03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s all;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 90.1rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
@media only screen and (max-width: 900px) {
  .col-1-of-2 {
    width: 100%;
  }
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 900px) {
  .col-1-of-3 {
    width: 100%;
  }
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem)) / 3 + 6rem);
  width: calc(2 * ((100% - 2 * 2rem)) / 3 + 6rem);
}
@media only screen and (max-width: 900px) {
  .col-2-of-3 {
    width: 100%;
  }
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}
@media only screen and (max-width: 900px) {
  .col-1-of-4 {
    width: 100%;
  }
}

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem)) / 4 + 6rem);
}
@media only screen and (max-width: 900px) {
  .col-2-of-4 {
    width: 100%;
  }
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem)) / 4 + 2 * 6rem);
}
@media only screen and (max-width: 900px) {
  .col-3-of-4 {
    width: 100%;
  }
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/pexels.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 670px), (min-resolution: 192dpi) and (min-width: 670px), (min-width: 1540px) {
  .header {
    background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/pexels-big.jpg);
  }
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__box {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 62.5%;
  top: 50%;
}
.footer {
  background: #333;
  padding: 8rem 0rem 8rem 0rem;
  text-align: center;
}
.footer__logo {
  width: 12rem;
}
.footer__list {
  list-style-type: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 1240px) {
  .footer__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .footer__item {
    margin: 0;
    padding: 2rem;
  }
}
.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #FAFAFA;
  display: inline-block;
  transition: all 0.3s;
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #BA8554;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  background: #FAFAFA;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  top: 10rem;
  right: 10rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  top: 11rem;
  right: 11rem;
  z-index: 100;
  transition: 0.7s all;
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: 0.3s all cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  width: 100%;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin: 5rem;
}
.navigation__link {
  font-size: 4rem;
  color: #FAFAFA;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #FAFAFA 50%);
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all 0.4s;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #A14F03;
  transform: translateX(-1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 3.7rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  background: #000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0;
}

.section-about {
  padding-top: 8rem;
  padding-bottom: 10rem;
}
@media only screen and (max-width: 1240px) {
  .section-about {
    padding-bottom: 8rem;
  }
}
@media only screen and (max-width: 900px) {
  .section-about {
    margin-bottom: 40rem;
  }
}

.section-advanture {
  padding: 21rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/bg-2.png) center/cover no-repeat;
  transform: skewY(7deg);
}
.section-advanture > * {
  transform: skewY(-7deg);
}
@media only screen and (max-width: 1240px) {
  .section-advanture {
    padding: 12rem 0;
  }
}

.section-tour {
  padding-top: 21rem;
}

.section-feedback {
  padding: 8rem 0rem;
  position: relative;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90.05deg, #BA8554, #A14F03);
}
@media only screen and (max-width: 900px) {
  .section-book {
    padding: 4rem;
  }
}/*# sourceMappingURL=style.css.map */